{{#if showDialog}}
  {{#paper-dialog class="flex-50" fullscreen=true onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}
    {{#paper-dialog-content}}
      {{paper-input label="Número o texto del ticket" autofocus=true type="text" value=textoSearch onChange=(action (queue (action (mut textoSearch)) (action "searchText"))) iconRight="search"}}
    {{/paper-dialog-content}}
    {{#paper-dialog-content}}
      {{#if isIssuesLoading}}
        <p>Cargando...</p>
      {{/if}}
      {{#each issues as |issue|}}
        {{#paper-item as |controls|}}
          {{controls.checkbox value=issue.checked onChange=(action (queue (action (mut issue.checked)) (action "updateSelected" issue)))}}
          <p>{{issue.id}} - {{issue.subject}}</p>
        {{/paper-item}}
      {{else}}
        {{#paper-item}}
          <p>No se encontraron tickets</p>
        {{/paper-item}}
      {{/each}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancelar{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closePromptDialog" "ok" dogName)}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}