{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Toolbar with Icon Buttons
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-content class="md-padding" }}
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th> </th>
        <th>Nro</th>
        <th class="mdl-data-table__cell--non-numeric">Ticket</th>
        {{#each fechas as |fecha|}}
          <th class="mdl-data-table__cell--non-numeric">{{date-format fecha.dia "dd DD-MM-YY"}}</th>
        {{/each}}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td> </td>
        <td> </td>
        <td class="mdl-data-table__cell--non-numeric">TOTAL</td>
        {{#each fechas as |fecha|}}
          <td>{{fecha.total}}</td>
        {{/each}}
      </tr>
    </tfoot>
    <tbody>
      {{#each application.model.options.timeIssuesList as |issue|}}
        <tr>
          <td>
            {{#paper-button iconButton=true onClick=(action "deleteFromOptions" issue)}}{{paper-icon "delete"}}{{/paper-button}}
          </td>
          <td>{{issue.id}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{issue.subject}}</td>
          {{#each issue.timeEntriesSorted as |te|}}
            <td class="mdl-data-table__cell--non-numeric">
              <div class="layout-column flex">
                {{paper-input
                type="number"
                value=te.hours
                onChange=(action (queue (action (mut te.hours)) (action "saveTimeEntry" te)))}}
                {{#paper-select
                label="Actividad"
                options=actividades
                selected=te.activity
                onChange=(action (queue (action (mut te.activity)) (action "saveTimeEntry" te) )) as |actividad|}}
                  {{actividad.name}}
                {{/paper-select}}
              </div>
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/paper-content}}
{{#paper-button onClick=(action (toggle "showIssueSearch" this)) classNames="bm-fab" iconButton=true raised=true fab=true primary=true}}{{paper-icon "add"}}{{/paper-button}}
{{issue-search showDialog=showIssueSearch closePromptDialog=(action "closeIssueSearch") selectedIssues=searchSelectedIssues}}