{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Seleccione el rango de fechas{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#power-calendar-range
      center=foo
      selected=range
      onCenterChange=(action (mut foo) value="date")
      onSelect=(action (mut range) value="moment") as |calendar|}}
      {{calendar.nav}}
      {{calendar.days}}
    {{/power-calendar-range}}
  {{/card.content}}
{{/paper-card}}
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Seleccione el rango de fechas{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
<div class="table-scroll">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th> </th>
        <th>Nro</th>
        <th class="mdl-data-table__cell--non-numeric">Ticket</th>
        {{#each fechas as |fecha|}}
          <th class="mdl-data-table__cell--non-numeric">{{date-format fecha.dia "dd DD-MM-YY"}}</th>
        {{/each}}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td> </td>
        <td> </td>
        <td class="mdl-data-table__cell--non-numeric">TOTAL</td>
        {{#each fechas as |fecha|}}
          <td class="mdl-data-table__cell--non-numeric">{{date-format fecha.dia "ddd DD-MM"}} Horas: {{fecha.total}}</td>
        {{/each}}
      </tr>
    </tfoot>
    <tbody>
      {{#each application.model.options.timeIssuesList as |issue|}}
        <tr>
          <td>
            {{#paper-button iconButton=true onClick=(action "deleteFromOptions" issue)}}{{paper-icon "delete"}}{{/paper-button}}
          </td>
          <td>{{issue.id}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{issue.subject}}</td>
          {{#each issue.timeEntriesSorted as |te|}}
            {{#if (and (lte inicioFecha te.spentOn) (lte te.spentOn finFecha))}}
              <td class="mdl-data-table__cell--non-numeric">
                {{time-entry-cell model=te actividades=actividades}}
              </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/card.content}}
{{#card.actions}}
        {{#paper-button onClick=(action (toggle "showIssueSearch" this)) primary=true}}{{paper-icon "add"}} Agregar Ticket{{/paper-button}}
      {{/card.actions}}
{{/paper-card}}
<!-- {{#paper-button onClick=(action (toggle "showIssueSearch" this)) classNames="bm-fab" iconButton=true raised=true fab=true primary=true}}{{paper-icon "add"}}{{/paper-button}} -->
{{issue-search showDialog=showIssueSearch closePromptDialog=(action "closeIssueSearch") selectedIssues=searchSelectedIssues}}